<body class="quizindex">

  <% unless current_user %>
    <container class="indexNav">
      <div class="loginDiv">
        <button class="login">LOG IN <%= image_tag('arrowdown.png')%>
        </button>
        <div class="loginForm">
          <%= form_tag "/login" do %>
            <%= label_tag :email %>:
            <%= email_field_tag :email %></br>
            <%= label_tag :password %>:
            <%= password_field_tag :password %></br>
            <%= submit_tag "Log in!" %>
          <% end %>
        </div>
      </div>
      <div class="joinDiv">
        <button class="joinbutton">JOIN <%= image_tag('arrowdown.png')%>
        </button>
        <form class="joinForm" method="POST" action="/users">
        </form>
      </div>
    </container>
  <% end %>

  <%= image_tag('quizerylogo.png') %>

  <div class="categories">
      <%= image_tag('english.png') %>
      <%= image_tag('science.png') %>
      <%= image_tag('globe.png') %>
      <%= image_tag('math.png') %>
  </div>

  <div class = "userNav">
    <% if current_user && @user.type == "Teacher" %>
      <%= link_to("Create A New Quiz", new_quiz_path) %>
    <% elsif current_user && current_user.type == "Student" %>
      <%= link_to("My Dashboard", user_path(@user)) %> 
    <% end %>
  </div>

  <%= form_tag quizzes_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

    <h2> All Quizzes </h2>
    <div class="allQuizzesList">
      <% @quizzes.each do |quiz| %>
        <li><a href='/quizzes/<%= quiz.id %>'><button><%= quiz.name %></button></a></li>
      <% end %>
    </div>

    <div class="clearSpace">
    </div>

  <div class = "description">
    <div class="how">
      <h2> HOW DOES IT WORK? </h2>
    </div>

    <ul class="list">
      <li class="step">
        <%= image_tag("quizcreation.png") %>
        <span>Teachers can create custom, timed quizzes.</span>
      </li>
      <li class="step">
        <%= image_tag("score.png") %>
        <span>Students can complete quizzes and receive their scores.</span>
      </li>
      <li class="step">
        <%= image_tag("results.png") %>
        <span>Teachers and Students can view thier results!</span>
      </li>
    </ul>
  </div>



</body>


<script>
  $('.login').click(function(){
    $('.loginForm').toggle()
  })
</script>


  