<!DOCTYPE html>
<html>
<head>
  <title>Quizery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav">
    <li><%= link_to("Home", quizzes_path) %></li>
    <li class="logout"><%= link_to("Log Out", "/logout", method: "delete") unless session[:user_id].nil? %></li>
    <% if current_user && current_user.type == 'Student' %>
      <li><%= link_to("My Dashboard", user_path(current_user.id)) %></li>
    <% end %>
  </ul>

  <% unless @user.nil? %>
    <script>
      localStorage["user_id"] = <%= @user.id %>
    </script>
  <% end %>

<%= yield %>

</body>
</html>
